<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>

	<link rel="stylesheet" href="/css/bootstrap.min.css">
	
	<script src="/js/jquery-3.4.1.min.js"></script>
	<script src="/js/bootstrap.bundle.min.js"></script>
</head>
<body class="vh-100 bg-light">
	<!-- 메인 페이지입니다. -->
	<div class="container py-3">
		<h1>Hello, world!</h1>
		<a id="register" href='/register'>register</a>
	</div>
	<!--
		register를 누르면 register 화면으로 넘어갈 예정
	-->
	<script>
		var user = <%- user %>;
		alert(`hello ${user.target_name}!`);
	</script>
</body>
</html>