.Logo{
    height: 100%;
    position: relative;
    .logo_box{
        display: flex;
        justify-content: center;
        text-align: center;
        .lp_title{
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width:80%; 
                animation: upAndDown 1.5s infinite;
    
                @keyframes upAndDown {
                    0% {
                        width:80%;
                    }
                    20% {
                        width: 120%;
                    }
                    100% {
                        width:80%;
                    }
                }
            }
        }
    }
}