.Nav{
    height: 10%!important;
    width: auto;
    .navi{
        height: 100%;
        float: right;
        img{
            height: 100%;
        }
    }
    .Bfore{
        input{
            height:100%;
        }
    }
}