.Nav{
    height: 10%!important;
    .navi{
        width: 80%;
        height: 90%;
        float: right;
        img{
            height: 100%;
            max-width: 100%;
            float: right;
        }
    }
    .nav_button{
        margin: 1%;
        float: left;
        width: 7% !important;
        min-width: 50px;
        min-height: 50px;
        & button{
            height:100%;
        }
    }
}