.popUp{
    position: relative;
    .popup_box{
        position: absolute;
        top:0;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 2rem;
        margin:0;
        &.box_one{
            .pop_up_space{
                margin: 50% 0 0 0;
                height: auto;
                justify-content: center;
                @media screen and (min-width:560px) {
                    margin-top:2%;
                }
                div{
                    padding:0;
                    text-align: center;
                }
                .pop_des{
                    display: flex;
                    justify-content: center;
                    p{           
                        font-size: 2.8rem;
                        @media screen and (min-width:560px) {
                            font-size: 3.5rem;
                        }
                        @media screen and (min-width:1024px) {
                            font-size: 5.5rem;
                        }
                    }
                }
                .emoball{
                    width: 100%;
                    height: auto;
                    @media screen and (min-width:560px) {
                        width:55%;
                    }
                }
                .pop_btn{
                    text-align: center;
                    padding: 15px 0;
                    display: flex;
                    justify-content: space-around;
                    button{
                        width: 40%;
                        font-size: 2rem;
                        font-weight: 600;
                        padding: 3% 0;
                        
                        @media screen and (min-width:1024px) {
                            font-size: 4rem;
                        }
                    }
                }
            }
        }
        &.box_two{
            .pop_up_space{
                .pop_img{
                    width:100%;
                    height: auto;
                    img{
                        width:80%;
                        margin-left: 8%;
                        margin-top: 3%;
                    }
                }
                .pop_des{
                    display: flex;
                    height: auto;
                    width:100%;
                    align-items: center;
                    p{
                        padding-left:10px;
                    }
                    .main_p{
                        font-size: 3.5rem;
                        strong{
                            color:$red_c;
                        }
                    }
                    .sub_p{
                        font-size:1.8rem;
                    }
                }
            }
        }
        &.box_three{
            .pop_up_space{
                .pop_des{
                    padding: 0 0 0 2%;
                    display: flex;
                    align-items: center;
                    p{
                        font-size:3rem;
                        strong{
                            font-size:4rem;
                            color:$red_c;
                        }
                    }
                }
                .pop_img{
                    display: flex;
                    align-items: flex-end;
                    img{
                        width:100%;
                    }
                }
            }
        }
        &.box_five{
            .pop_up_space{
                display: flex;
                flex-direction: column;
                div{
                    height:auto;
                }
                .pop_img{
                    text-align: center;
                    img{
                        width:44%;
                    }
                }
                .pop_des{
                    text-align: center;
                    p{
                        font-size:4rem;
                    }
                }
                .pop_btn{
                    padding: 15px 0;
                    display: flex;
                    justify-content: space-around;
                    @media screen and (min-width:560px) {
                        flex-direction: column;
                    }
                    &>*{
                        width: 40%!important;
                    }
                    & button{
                        font-size: 3rem;
                        font-weight: 600;
                        padding: 3% 0;
                    }
                    div{
                        height:auto;
                    }
                }
            }
        }
    }
}